<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ABHostel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoomController</display-name>
    <servlet-name>AddRoomController</servlet-name>
    <servlet-class>controller.AddRoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomController</servlet-name>
    <url-pattern>/AddRoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVisitorController</display-name>
    <servlet-name>AddVisitorController</servlet-name>
    <servlet-class>controller.AddVisitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVisitorController</servlet-name>
    <url-pattern>/AddVisitorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeeController</display-name>
    <servlet-name>AddFeeController</servlet-name>
    <servlet-class>controller.AddFeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeeController</servlet-name>
    <url-pattern>/AddFeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTableController</display-name>
    <servlet-name>ViewTableController</servlet-name>
    <servlet-class>controller.ViewTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTableController</servlet-name>
    <url-pattern>/ViewTableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeController</display-name>
    <servlet-name>FeeController</servlet-name>
    <servlet-class>controller.FeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeController</servlet-name>
    <url-pattern>/FeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomController</display-name>
    <servlet-name>RoomController</servlet-name>
    <servlet-class>controller.RoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomController</servlet-name>
    <url-pattern>/RoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitorController</display-name>
    <servlet-name>VisitorController</servlet-name>
    <servlet-class>controller.VisitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorController</servlet-name>
    <url-pattern>/VisitorController</url-pattern>
  </servlet-mapping>
</web-app>